<mat-accordion *ngIf="messageService.getMessages().length">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Messages</mat-panel-title>
      <mat-panel-description> {{ messageService.getMessages().length }} record(s)</mat-panel-description>
    </mat-expansion-panel-header>
    <p>
      <button (click)="messageService.clear()" color="accent" mat-raised-button>Clear messages</button>
    </p>
    <div *ngFor="let msg of messageService.getMessages()">
      {{ msg }}
    </div>
  </mat-expansion-panel>
</mat-accordion>
