<h2>My Heroes</h2>
<button
  [routerLink]="['new']"
  class="add-button"
  color="primary"
  mat-mini-fab
  matTooltip="Add Hero"
>
  <mat-icon>add</mat-icon>
</button>

<mat-table [dataSource]="heroes$" class="mat-elevation-z8">
  <!-- ID -->
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> ID</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{ row.id }} </mat-cell>
  </ng-container>

  <!-- Name -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Hero Name</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{ row.name }} </mat-cell>
  </ng-container>

  <!-- Header and Row Declarations -->
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row
    *matRowDef="let row; columns: displayedColumns"
    [routerLink]="['/heroes', row.id]"
  ></mat-row>
</mat-table>
