.add-button {
  position: absolute;
  right: 25px;
  top: 160px;
}

.mat-row:hover {
  cursor: pointer;
  background-color: whitesmoke;
}

.mat-column-id {
  max-width: 60px;
}

.mat-column-actions {
  max-width: 80px;
}

